div[data-game-type=example] {

  h1 {
    margin: 0px 20px;
  }

  #example-rolls {
    padding: 20px;
    width: 100%;
    height: 400px;
    overflow: auto;
    box-sizing: border-box;
  }

  .turn-holder {
    padding: 10px 20px 0px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    #example-turn {
      padding-right: 30px;
      display: inline-block;
    }

    #roll-button {
      display: none;
      border: 1px solid white;
      font-size: 30px;
      font-weight: bold;
      color: white;
      background-color: transparent;
    }
  }



}
